[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".oh-my-zsh/custom/plugins/spaceship-prompt"]
	path = .oh-my-zsh/custom/plugins/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt
[submodule ".oh-my-zsh/custom/themes/spaceship-prompt"]
	path = .oh-my-zsh/custom/themes/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt
