# Modules
zmodule environment
zmodule git
zmodule input
zmodule termtitle
zmodule utility
zmodule fzf

# Prompt
zmodule duration-info
zmodule git-info
zmodule spaceship-prompt/spaceship-prompt --name spaceship

# Completion
zmodule zsh-users/zsh-completions --fpath src
zmodule completion

# Modules that must be initialized last
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions
